.container
{
	width: 70%;
	margin: auto;
	margin-top: 50px;
}

#output div
{
	display: inline-block;
}

#output div:hover
{
	background-color: lightblue;
}

h1, #menu
{
	text-align: center;
}

.storage-item-list li
{
	/*font-size: 15pt;*/
	cursor: pointer;
}

.storage-item-list li:hover
{
	text-decoration: underline;
}

.storage-item
{
	/*display: none;*/
}

/*
.storage-item-list li:hover > .storage-item
{
	display: block;
}
*/

.login
{
	/*position: absolute;*/
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #88f;
	text-align: center;
}

