.container
{
	width: 70%;
	margin: auto;
}

#output div
{
	display: inline-block;
}

#output div:hover
{
	background-color: lightblue;
}

h1, #menu
{
	text-align: center;
}

.storage-item-list li
{
	/*font-size: 15pt;*/
	cursor: pointer;
}

.storage-item-list li:hover
{
	text-decoration: underline;
}

.storage-item
{
	/*display: none;*/
}

/*
.storage-item-list li:hover > .storage-item
{
	display: block;
}
*/

